<!-- <div class="example-button-row">
  <button mat-raised-button color="warn">Add new item</button>
</div> -->

<!-- <mat-list role="list" class="table">
  <div class="title">
    <span class="item">ID</span>
    <span class="item">Name</span>
    <span class="item">Surname</span>
    <span class="item">Age</span>
    <span class="item">Gender</span>
  </div>
  <app-list-item
    role="listitem"
    *ngFor="let item of data"
    [item]="item"
  ></app-list-item>
</mat-list> -->

<div class="items">
  <div *ngFor="let item of data" class="items-item">
    <app-list-item [item]="item"></app-list-item>
  </div>
</div>

<!--     [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color" -->
